.App {
  text-align: center;
}

.App-header {
  background-color: #f2f2f2; /* Exemplo de uma paleta de cores agradável */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(44, 42, 42);
}

.App-header-content {
  width: 80%; /* Alterado para ocupar mais espaço horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header-content input,
.App-header-content button {
  height: 40px; /* Ajuste na altura dos elementos */
  display: block;
  margin-bottom: 20px; /* Espaçamento maior entre os elementos */
  border: 2px solid #2c3e50; /* Adicionando borda aos elementos */
  border-radius: 5px; /* Borda arredondada */
  padding: 5px 10px; /* Espaçamento interno */
}

.App-header-content input {
  width: 40%;
}

.App-header-content button {
  width: 10%;
  font-size: 1.15rem;
  text-decoration: none;
  background-color: #3f133b; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
}

.App-header-content button:hover {
  background-color: #8d1f8d; /* Cor de fundo alterada ao passar o mouse */
}

.App-user-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.App-user-card {
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
